body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
}

.headerbox{
    margin-top: -10px;
    display: flex;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#pops{
    border: 4px solid red;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    border-radius: 100px;
}
header div{
    border: solid 2px transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header a{
    text-decoration: none;
    font-size: 30px;
    border: solid 2px transparent;
    padding: 10px;
    border-radius: 15px;
    background-color: yellow;
    color: red;
    transition: 0.4s all;
}
a:hover{
    background-color: red;
    color: yellow;
}

h1{
    text-align: center;
    font-size: 40px;
    color: red;
    margin-bottom: 10px;
}

.lanches{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
h2{
    font-size: 30px;
    color: red;
}
.item{
    background-color: white;
    width: 85%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px dashed red;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.preco{
    font-size: 30px;
    transition: 0.4s all;
    color: red;
}

.item img{
    display: flex;
    background-color: white;
    width: 93%;
    transition: 0.4s all;
}
.item img:hover{
    width: 100%;
}

.bebidas{
    width: 100%;
    display: flex;
    gap: 50px;
}
.item2{
    width: 85%;
    background-color: white;
    border: 3px dashed red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.4s all;
}

.item2 img{
    display: flex;
    background-color: white;
    width: 95%;
    transition: 0.4s all;
}
.item2 img:hover{
    width: 100%;
}

footer{
    text-align: center;
    margin-top: 30px;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    color:brown;
}
#ft{
    font-size: 12px;
}
/*Botões*/
.add{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    font-size: 25px;
    border-radius: 20px;
    border: transparent;
    background-color: yellow;
    color: red;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.4s all;
    margin-bottom: 5px;
}
.add:hover{
    background-color: red;
    color: yellow;
}

